.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo {
  max-width: 170px;
  height: auto;
  background-color: white;
  padding: 8px;
  border-radius: 2px;
}