.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo {
  max-width: 170px;
  height: auto;
  background-color: #15191f;
  padding: 8px;
  border-radius: 2px;
}
.content h3 {
  color: #ffffff;
} 
.content strong {
  color: #0e0be9;
}